.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer_logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_logo img {
    width: 55px;
}

.footer_logo p {
    font-size: 45px;
    font-weight: 700;
}

.footer_links {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer_links li {
    cursor: pointer;

}

.footer_socialmedia_icons {
    display: flex;
    gap: 20px;

}

.footer_socialmedia_icon {
    padding: 10px;
    padding-bottom: 5px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer_copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer_copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: lightgrey;
}